main{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.loading-img{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
